* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Aktura", serif;
  font-display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #c486ff;
}
#app {
  height: 500vh;
  & * {
    // pointer-events: none;
    // user-select: none;
  }
}

.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  z-index: -1;
}

header {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  place-content: center;
  h1 {
    font-size: max(13vw, 5rem);
    text-align: center;
    // letter-spacing: 1px;
    text-shadow: 0 0 0.75rem #31164c;
    line-height: 1;
  }
  div {
    color: #a9a9a9;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    svg {
      height: 2rem;
      .svg-wheel {
        animation: scroll infinite alternate 0.64s ease-in-out;
        @keyframes scroll {
          to {
            transform: translateY(10%);
          }
        }
      }
    }
  }
}
